<html lang="{{lang}}">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{t "emails.orderCompleted.subject"}}</title>
  </head>

  <body
    style="
font-family: sans-serif; padding: 0 40px;
display: flex; flex-direction: column; gap: 32px
"
  >
    <header style="display: flex; flex-direction: column; align-items: center;">
      <a
        href="{{websiteUrl}}"
        style="
    font-size: 20px; font-weight: bold; 
    text-decoration: none; color: black;
    "
      >
        {{t "emails.orderCompleted.subject"}}
      </a>
      <p>{{t "emails.orderCompleted.subtitle"}}</p>
    </header>

    <section style="display: flex; flex-direction: column; gap: 12px;">
      <div style="display: flex; flex-direction: column; gap: 6px;">
        <div>
          {{t
            "emails.orderCompleted.customer"
            (args name=name city=city state=state)
          }}
        </div>
        <div>
          {{t "emails.fields.orderNumber" (args orderNumber=orderNumber)}}
        </div>
      </div>
      <a
        href="{{websiteUrl}}/order-details?number={{orderNumber}}"
        style="
        width: fit-content; font-weight: bolder;
        color: black; text-decoration: none;
        border: 2px solid black; border-radius: 4px; padding: 6px;
        "
      >
        {{t "emails.orderCompleted.viewOrder"}}
      </a>
    </section>

    <section style="display: flex; flex-direction: column; gap: 12px">
      <strong style="font-size: 20px;">
        {{t "emails.orderCompleted.yourItems"}}
      </strong>
      {{safeString (cartItemList cartItems)}}
      <strong>
        {{t "emails.orderCompleted.total" (args total=total)}}
      </strong>
    </section>

    <footer style="display: flex; flex-direction: column; align-items: center;">
      <div style="padding: 20px;">{{t "emails.common.footer"}}</div>
    </footer>
  </body>

</html>